<section class="fdb-block" data-block-type="contents" data-id="3" draggable="true">
  <div class="container">
    <div class="row text-left align-items-center">
      <div class="col-10 col-sm-6 m-auto m-lg-0 col-lg-4">
        <img alt="image" class="img-fluid" src="{{"/img/undraw_security_o890.svg" | absURL }}">
      </div>

      <div class="col-12 col-lg-7 offset-lg-1 pt-4 pt-lg-0">
        <h1>Authen.me</h1>
        <p class="lead">Authen.me aim for an universal authentication &amp; authorization platform which save 70% workload when it come to login process.</p>

        <div class="row mt-5">
          <div class="col-12 col-sm-6">
            <h3><strong>Universal</strong></h3>
            <p class="lead">One account to rule them all. Forgot nothing.</p>
          </div>

          <div class="col-12 col-sm-6 pt-3 pt-sm-0">
            <h3><strong>Security</strong></h3>
            <p class="lead">Keep your account (and your customer's accounts) safe and sound with 2 factor authentication and more.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>