<section class="fdb-block" style="background-image: url(https://cdn.jsdelivr.net/gh/froala/design-blocks@2.0.1/dist/imgs//hero/blue.svg);" data-block-type="forms" data-id="6">
  <div class="container">
    <div class="fdb-box">
      <div class="row justify-content-center align-items-center">
        <div class="col-12 col-lg-6" style="z-index: 10000;">
          <h2>Watchout for update!</h2>
          <p class="lead">Authen.me got new features everyday! Keep in touch by subscribe to us..</p>
        </div>
        <div class="col-12 col-lg-5 text-center" style="z-index: 10000;">
          <div class="input-group mt-4"><input type="text" class="form-control" placeholder="Enter your email address" value="">
            <div class="input-group-append"><button class="btn btn-primary" type="button">Submit</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>