<section class="fdb-block" data-block-type="call_to_action" data-id="2">
  <div class="container align-items-center justify-content-center d-flex">
    <div class="row align-items-center text-left">
      <div class="col-12 col-sm-6" style="z-index: 10000;">
        <p><img alt="image" class="img-fluid" src="{{"/img/undraw_safe_bnk7.svg" | absURL }}">
        </p>
      </div>

      <div class="col-12 col-lg-5 ml-auto pt-5 pt-lg-0" style="z-index: 10000;">
        <h1>AUTHEN.ME</h1>
        <p class="lead">Authen.me is an universal authentication &amp; authorization platform for web, mobile and legacy applications.</p>
        <p class="mt-4"><a class="btn btn-primary" href="#">Join us now</a></p>
      </div>
    </div>
  </div>
</section>